@import url('fonts.css');

/* Comunes */

/* Variables */
:root {
  --primary-color: rgb(225, 157, 37, 1);
  --secondary-color: rgb(0, 167, 170, 1);
  --secondary-color-20: rgb(0, 167, 170, 0.2);
  --secondary-color-30: rgb(0, 167, 170, 0.3);
  --tertiary-color: #02405f;
}
/* Variables end */

.transition{
  -webkit-transition: all ease-in-out .3s; /* Safari */
  transition: all ease-in-out .3s;
}

body { font-family: 'SofiaProRegular'; font-size: 16px; }

h2 { 
	margin: 0; 
	font-family: 'BreeSerif'; 
	font-size: 1.5rem; 
}

ul { padding: 0; padding-left: 15px; }

.note-float-right { padding-left: 30px!important; }
.note-float-left { padding-right: 30px!important; }

.tabla h2, .calendario h2, .gerencia_general h2,
.gerencia_talento h2, .gerencia_finanzas h2,
.marketing h2, .operaciones h2 {
	border: 1px solid var(--secondary-color);
	border-left: 3px solid var(--secondary-color);
	color: var(--secondary-color);
	margin-bottom: 10px;
	border-radius: 3px;
	padding: 10px 20px;
}

.tabla, .calendario, .gerencia_general,
.gerencia_talento, .gerencia_finanzas,
.marketing, .operaciones { margin-bottom: 60px; }
/* Comunes end */

/* Header */
header {
	background: url('../img/header.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 300px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}
header img { max-width: 65%!important; }
header h2 { 
	font-family: SofiaProLight;
	font-weight: 300;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	font-size: 1.125rem;
	text-align: right;
	padding: 5px 15px;
	margin: 0;
	color: white; 
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 60%, rgba(0,0,0,0) 100%); 
}
header h2 span { font-family: BreeSerif; font-weight: 400; }
/* Header end */

/* Tabla */
.tabla thead { background-color: var(--secondary-color); color: white; }
.tabla .col-lg-8 { margin-bottom: 15px; }
.tabla .col-lg-4 { display: flex; flex-direction: column; justify-content: space-between; }
.tabla thead tr th  { text-align: center!important; }
.tabla .jumbotron { background-color: var(--secondary-color-20); padding: 20px 15px; }
.tabla .lead { font-family: 'BreeSerif'; font-size: 1rem; }
.tabla .observaciones { font-size: 0.85rem; }
.tabla .table td, .table th { padding: .5rem; font-size: 0.8rem; }
/* Tabla end */

/* Calendario */
.calendario p { margin: 0; }
.calendario .card-header { 
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--secondary-color);
	color: white;
	font-size: 1.25rem;
	text-transform: uppercase;
	font-family: 'BreeSerif';
}
.calendario .card-body  { 
	background-color: var(--secondary-color-20);
	font-size: 1rem;
	font-family: 'SofiaProLight';
	color: grey!important;
}
.calendario .card-footer i  { margin-right: 5px; }
.calendario .card-footer  { 
	background-color: var(--secondary-color-30); 
	color: var(--secondary-color); 
	font-weight: 700; 
}
/* Calendario end */

/* Footer */
.footer-basic {
  padding:40px 0 10px 0;
  background-color: var(--tertiary-color);
  color: white;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.libre a { float: right; color: rgb(150, 150, 150); font-size: 0.75rem; }
.libre hr { background-color: rgb(150, 150, 150); }
.libre a:hover { color: white; text-decoration: none; }
/* Footer end*/


@media (min-width: 576px) {
	/* Header */
	header { min-height: 400px;	}
	header h2 { font-size: 1.25rem; padding: 40px 15px 10px 15px; }
	/* Header end */

	/* Tabla */
	.tabla .jumbotron { padding: 30px 15px; }
	.tabla .lead { font-family: 'BreeSerif'; font-size: 1.25rem; }
	.tabla .observaciones { font-size: 1rem; }
	.tabla .table td, .table th { font-size: 1rem; }
	/* Tabla end */

	/* Calendario */
	.calendario .card { min-height: 300px!important; }
	/* Calendario end */
}
@media (min-width: 768px) {
	/* Header */
	header { min-height: 500px;	}
	header h2 { font-size: 1.5rem; }
	/* Header end */
}
@media (min-width: 992px) {
	.tabla h2, .calendario h2, .gerencia_general h2,
	.gerencia_talento h2, .gerencia_finanzas h2,
	.marketing h2, .operaciones h2 { margin-bottom: 20px; }
	/* Header */
	header { min-height: 600px;	}
	/* Header end */

	/* Calendario */
	.calendario .card { min-height: 300px!important; }
	/* Calendario end */

}
@media (min-width: 1140px) {
	/* Header */
	header { min-height: 800px;	}
	header h2 { font-size: 2.25rem; padding: 60px 15px 10px 15px; }
	/* Header end */

	}

}